<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/style.css">
  <!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-T41Z8P13Q2"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'G-T41Z8P13Q2');
</script>
</head>

<body>

<header class="header">

  <!-- ロゴ -->
  <a href="{{ '/' | relative_url }}">
    <img src="assets/images/dot2026_0215_0724_14.png" class="logo">
  </a>

  <!-- ☰ -->
  <div class="menu-toggle" onclick="toggleMenu()">☰</div>

  <!-- ナビ -->
  <nav id="nav-menu">
    <a href="{{ '/' | relative_url }}">ホーム</a>
    <a href="{{ '/staff' | relative_url }}">運営募集</a>
    <a href="{{ '/news' | relative_url }}">ニュース</a>
    <a href="{{ '/tags' | relative_url }}">タグ</a>
    <a href="{{ '/Koka' | relative_url }}">国家サーバー</a>
    <a href="{{ '/Ana-ki-' | relative_url }}">アナーキー</a>
  </nav>

</header>

<main style="padding:20px;">
  {{ content }}
</main>

<script>
function toggleMenu() {
  document.getElementById("nav-menu").classList.toggle("active");
}
</script>

</body>
</html>
