<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/style.css' | relative_url }}">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
</head>
<body>

<header style="display:flex; align-items:center; padding:10px 20px; border-bottom:1px solid #ccc;">

  <!-- ロゴ -->
  <a href="/">
  <img src="assets/images/dot2026_0215_0724_14.png" style="width:50px;">
</a>
  <!-- メニュー -->
  <nav>
  <a href="{{ '/' | relative_url }}">ホーム</a>
  <a href="{{ '/staff' | relative_url }}">運営募集</a>
  <a href="{{ '/news' | relative_url }}">ニュース</a>
  <a href="{{ '/tags' | relative_url }}">タグ</a>

  <!-- サーバー一覧 -->
  <div class="dropdown">
    <a href="#">サーバー</a>
    <div class="dropdown-content">
      <a href="{{ '/Koka' | relative_url }}">国家鯖</a>
      <a href="{{ '/Ana-ki-' | relative_url }}">アナーキー鯖</a>
    </div>
  </div>
</nav>
</header>

<main style="padding:20px;">
  {{ content }}
</main>

</body>
</html>
